.header h1{
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
    color: #e1193e;
    text-transform: uppercase;
    font-weight: 700;
}
.header h2{
    font-size: 34px;
    font-weight: 800;
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
}
.header{
    text-align: center;
}
.blogContainer>img{
    width: 20rem;
    height: 300px;
    padding-top: 20px;
    margin-top: 20px;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
.blogContainer2>img{
   width: 20rem;
    height: 300px;
    padding-top: 10px;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.textBox p{
    text-transform: uppercase;
    font-size: 13px;
    align-items: center;
    margin-top: 15px;
    font-weight: 600;
    color: gray;
}
.textBox p>span{
    color: #e1193e;
    margin-left: 5px;
}
.textBox h3{
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 20px;
    width: 255px;
}
.textBox>div{
    font-family: "Open Sans", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
    margin-top: 10px;
    width: 200px;
}
.blog{
    display: flex;
}
.blog2{
    display: flex;
}
.textBox{
    text-align: left;
    padding: 40px;
    width: 350px;
}
.blogSection{
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
@media only screen and (max-width: 414px) {
    .blog{
        flex-direction: column;
    }
    .blogContainer>img{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .blogContainer2>img{
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
    
    .textBox>div{
        width: 290px;
        margin-top: 20px;
    }
    .blog2{
        flex-direction: column-reverse;
    }
    .blogSection{
        padding: 10px;
        padding-top: 10rem;
    }
}