.heading{
    text-align: center;
}
.heading h1{
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
    color: #e1193e;
    text-transform: uppercase;
    font-weight: 700;
}
.heading h2{
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 34px;
    font-weight: 800;
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
    color: #e1193e;
}
.heading h2>div{
    margin-left: 10px;
    color: black;
}
.classImage{
    display: flex;
}
.classImage>div{
    margin: 5px;
}
.classImage>div>img{
    width: 100%;
    height: 350px;
    position: relative;
}
.classImage>div h3{
    font-size: 26px;
    margin-bottom: 0;
    color: #e1193e;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    background: #030513;
    padding: 10px 30px;
    text-align: center;
    position: absolute;
    z-index: 1;
    margin-top: -3.8rem;
}
.classImage>div h3::after{
    z-index: -1;
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    content: '';
    width: 40px;
    -ms-transform: skew(20deg);
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
    background: #030513;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
}
.classesBtn{
    margin: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #e1193e;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: "Roboto Condensed", Arial, sans-serif;
}
@media only screen and (max-width: 414px) {
    .heading h2{
        width: 400px;
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .classImage{
        flex-direction: column;
    }
    .classImage>div{
        margin-top: -4px;
        margin: -4px;
    }
    .classImage>div h3{
        margin-top: -61px;
        margin-left: 11px;
    }
    .classImage>div>img{
        width: 95%;
    }
    .classesBtn{
        margin: 3px;
    }
}